body{background:#688497;margin:0}

/* Header */
header {
  position: relative;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-right: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 40px;
  background-color: #222;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

header ul li {
  margin-left: 10px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
/* Navbar */
.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 2px 5px;
  background-color: #222;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  margin-right: 1px;
}

.navbar a:hover {
  background-color: #3e3535;
  color: black;
}
/* contact */


.form{width:340px;height:440px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{margin:10px 0;padding-bottom:10px;width:200px;color:#78788c;border-bottom:3px solid #78788c}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{border-bottom:2px solid #78788c}
p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
button:hover{background:#78788c;color:#fff}
.mycontact{content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
span{margin:0 5px 0 15px}

/* Footer */
footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #222;
  color: #fff;
}

#footer p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  color: whitesmoke;
  margin-bottom: 30px;
}

#footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  color: #333;
  text-decoration: none;
}

#footer img {
  width: 60px;
  height: 60px;
  margin-bottom: 2px;
  float: right;
  margin-right: 20px;
}

.copy {
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 0;
  text-align: right;
  z-index: 5;
}

